* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
}

header,
footer {
  background-color: #0d6efd;
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  padding: 2em;
  background: rgb(209, 10, 10);
  max-width: 100%;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}